html
body
  min-width 770px
  font-family Roboto
  word-spacing 1px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  box-sizing border-box
  overflow auto !important

html
body
ul
  padding 0
  margin 0
  color var(--text-color)
  line-height 1.2

.u-bb
  position relative
  &:after
    bottom 0
    content ' '
    position absolute
    left 0
    width 100%
    height 1px
    z-index 0
    transition all .2s
    background #EFEFEF
    transform scaleY(0.5)
    transform-origin 50%100%

for $size in 0 1 2 3 4 5 10 12 15 16 20 24 30 35 40 50 60 80 100
  .u-mt{$size}
    margin-top $size * 1px !important
  .u-mr{$size}
    margin-right $size * 1px !important
  .u-mb{$size}
    margin-bottom $size * 1px !important
  .u-ml{$size}
    margin-left $size * 1px !important
  .u-pt{$size}
    padding-top $size * 1px !important
  .u-pr{$size}
    padding-right $size * 1px !important
  .u-pb{$size}
    padding-bottom $size * 1px !important
  .u-pl{$size}
    padding-left $size * 1px !important

for $size in -5 -10 -15 -16 -20 -30 -40 -50
  .u-mt{$size}
    margin-top $size * 1px !important
  .u-mr{$size}
    margin-right $size * 1px !important
  .u-mb{$size}
    margin-bottom $size * 1px !important
  .u-ml{$size}
    margin-left $size * 1px !important
  .u-pt{$size}
    padding-top $size * 1px !important
  .u-pr{$size}
    padding-right $size * 1px !important
  .u-pb{$size}
    padding-bottom $size * 1px !important
  .u-pl{$size}
    padding-left $size * 1px !important

// 宽度
for $size in 0 25 50 80 100 120 130 150 160 180 200 210 300 500
  .u-w{$size}
    width $size * 1px !important

.u-mb10
  margin-bottom 10px !important

.u-mr10
  margin-right 10px !important

.el-message
  top 10px !important

.el-popover
  min-width 50px

.el-form-item
  margin-bottom 0 !important
  padding 10px 0

.el-form-item__content
  display flex

.el-select-dropdown__item
  font-family $font
  &.selected
    color $color-main

.nuxt-progress
  position fixed
  top 0
  border-width 5px 0 0
  border-top-style solid
  border-image linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3
  z-index 99999999

.el-color-picker__color
  border none

.el-color-picker__trigger
  border-width 2px

.el-color-picker__color-inner
  border-radius 2px

.el-pagination.is-background .btn-prev
.el-pagination.is-background .btn-next
  &[disabled]
    opacity .6

.el-pager li.active
  background $color-main !important

// ===========================================

.el-cascader
  border-radius 3px

.el-image__error
  background transparent !important

.el-switch.is-checked .el-switch__core
.el-radio-button__orig-radio:checked+.el-radio-button__inner
  background $color-main !important

.el-popper[x-placement^=bottom] .popper__arrow
  border-bottom-color var(--border-color)
  &::after
    border-bottom-color var(--background-color)

:root
  --background-color #FAFAFA
  --background-color-mid #FEFEFE
  --background-color-light #FFFFFF
  --background-color-dark #F5F5F5
  --background-color-input #FFFFFF
  --background-header rgba(#FAFAFA, .9)
  --background-footer #1F2123
  --text-color #2c3e50
  --border-color #E4E7ED

@media (prefers-color-scheme: dark)
  body
    background #1a1c1e
  :root
    --background-color #1F2123
    --background-color-mid #25272a
    --background-color-light #35363A
    --background-color-dark #25272a
    --background-color-input #1F2123
    --background-header rgba(#1a1c1e, .9)
    --background-footer #1a1c1e
    --text-color #FEFEFE
    --border-color #1F2123

.el-switch__core
.el-cascader-node:not(.is-disabled):hover
.el-pager li
.el-pagination.is-background .btn-prev
.el-pagination.is-background .btn-next
  background var(--background-color-dark) !important

.el-input-number__decrease
.el-input-number__increase
.el-input-group__append
.el-select-dropdown
.el-cascader-panel
.el-cascader__dropdown
.el-cascader-node:not(.is-disabled):focus
  background var(--background-color) !important

.__nuxt-error-page
.el-radio-button__inner
.el-input__inner
  background var(--background-color-input) !important

.el-dialog
.el-select-dropdown__item.hover
.el-input-number .el-input__inner
  background var(--background-color-mid) !important

.el-popover
  background var(--background-header)
  backdrop-filter saturate(180%) blur(20px)

.el-cascader
.el-input__inner
  border-color var(--background-color-light) !important

.el-cascader-menu
.el-cascader__dropdown
.el-popover
  border-color var(--border-color) !important

.el-select-dropdown
.el-cascader:hover .el-input__inner
.el-input__inner
.el-cascader
.el-input-number__decrease
.el-input-number__increase
.el-radio-button__inner
.el-radio-button:first-child .el-radio-button__inner
.el-input-group__append
.el-switch__core
  border-color var(--border-color) !important

.el-input__inner[readonly]:hover
  border-color $color-border !important

.el-cascader:hover
.el-cascader:focus
.el-input__inner:hover
.el-radio-button__orig-radio:checked+.el-radio-button__inner
  border-color $color-main !important

.el-input__inner
.el-cascader
.el-cascader-node:not(.is-disabled):hover
.el-dialog__title
.el-form-item__label
.el-pager li:not(.active)
.el-dialog
.el-pagination.is-background .btn-prev
.el-pagination.is-background .btn-next
  color var(--text-color) !important
